@import "tailwindcss";

.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ccccce;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 500 600 700 800;
  font-style: normal;
}